In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "user_id":[1,2],
    "name": ["aLicE","BOB"]
})

In [3]:
df

   user_id   name
0        1  aLicE
1        2    BOB

In [5]:
df["name"] = df.name.str.capitalize()

In [6]:
df

   user_id   name
0        1  Alice
1        2    Bob

### find users with valid emails

In [7]:
df2 = pd.DataFrame({
    'user_id': [1, 2, 3, 4, 5, 6, 7],
      'name': ['Winston', 'Jonathan', 'Annabelle', 'Sally', 'Marwan', 'David', 'Shapiro'],
      'mail': [
          'winston@leetcode.com',
          'jonathanisgreat',
          'bella-@leetcode.com',
          'sally.come@leetcode.com',
          'quarz#2020@leetcode.com',
          'david69@gmail.com',
          '.shapo@leetcode.com'
      ]
})

In [8]:
df2

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
1        2   Jonathan          jonathanisgreat
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com
4        5     Marwan  quarz#2020@leetcode.com
5        6      David        david69@gmail.com
6        7    Shapiro      .shapo@leetcode.com

In [9]:
regex_pattern = r'^[a-zA-Z][a-zA-Z0-9._-]*@leetcode[.]com$'

In [10]:
df2[df2.mail.str.match(regex_pattern)]

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com