## LeetCode ==> Second highest salary.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [47]:
df = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'salary': [100, 100, 200, 300]
})

In [48]:
df

   id  salary
0   1     100
1   2     100
2   3     200
3   4     300

In [49]:
employee = df.salary.drop_duplicates().sort_values(ascending=False)

In [50]:
employee

3    300
2    200
0    100
Name: salary, dtype: int64

In [53]:
employee.iloc[2]

np.int64(100)

In [ ]:
if len(employee) < 2:
    hv = None
else:
    hv = employee.iloc[1]

In [55]:
hv

np.int64(200)