### nth highest salary

In [1]:
import pandas as pd

In [2]:
employee_table1 = pd.DataFrame({
    "id":[1,2,3],
    "salary":[100,200,300]
})

In [3]:
employee_table1

   id  salary
0   1     100
1   2     200
2   3     300

In [ ]:
sorted_emply = employee_table1.salary.drop_duplicates().sort_values(ascending=False)

In [5]:
sorted_emply

0    100
1    200
2    300
Name: salary, dtype: int64

In [6]:
n = 2

In [7]:
len(sorted_emply)

3

In [8]:
if n > len(sorted_emply):
    nth_highest = None
else:
    nth_highest = sorted_emply.iloc[n-1]

In [9]:
nth_highest

np.int64(200)

In [10]:
res_col_name=f'getNthHighestSalary({n})'
res_col_name

'getNthHighestSalary(2)'

In [11]:
res_df = pd.DataFrame({
    res_col_name:[nth_highest]
})

In [12]:
res_df

   getNthHighestSalary(2)
0                     200