In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "user_id":[1,2],
    "name": ["aLicE","BOB"]
})

In [3]:
df

   user_id   name
0        1  aLicE
1        2    BOB

In [5]:
df["name"] = df.name.str.capitalize()

In [6]:
df

   user_id   name
0        1  Alice
1        2    Bob