In [1]:
import pandas as pd
import seaborn as sns

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
df = sns.load_dataset("penguins")

In [4]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [5]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [9]:
df.shape

(344, 7)

### checking null values using loc

In [14]:
df.loc[df.isnull().any(axis=1)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [17]:
df.sex.isnull().sum() # for specific column

np.int64(11)

In [21]:
df.loc[df.sex.isnull()] # observing null values depending on a sepecific column

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [22]:
df.loc[df.bill_length_mm.isnull()]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [23]:
df_new = df.dropna()

In [24]:
df_new.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [25]:
df_new.shape

(333, 7)

### Leetcode problem solution
##### => students.dropna(subset=["name"],inplace=True)

In [29]:
# from leetcode
# df_new1 = df.dropna(subset=["sex"])
df_new1 = df.dropna(subset=["flipper_length_mm"])

In [30]:
df_new1.shape

(342, 7)

In [31]:
df_new1.loc[df_new1.isnull().any(axis=1)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN

### Replacing Null values with mean, median, mode

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [38]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [44]:
df_missing_values = df.loc[df.isnull().any(axis=1)]

In [45]:
# bill_length_mm with median values
bill_length_mm_median = df.bill_length_mm.median()
bill_length_mm_median

np.float64(44.45)

In [48]:
df_missing_values.fillna({"bill_length_mm":bill_length_mm_median},inplace=True)

C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_10708\3007067587.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing_values.fillna({"bill_length_mm":bill_length_mm_median},inplace=True)

In [49]:
df_missing_values

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,44.45,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.10,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.00,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.80,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.80,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.50,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.50,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.20,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.30,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.50,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,44.45,NaN,NaN,NaN,NaN

In [51]:
# bill_depth_mm with median values
bill_depth_mm_meian = df.bill_depth_mm.median()
df_missing_values.fillna({"bill_depth_mm":bill_depth_mm_meian},inplace=True)

C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_10708\554342624.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing_values.fillna({"bill_depth_mm":bill_depth_mm_meian},inplace=True)

In [52]:
df_missing_values

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,44.45,17.3,NaN,NaN,NaN
8,Adelie,Torgersen,34.10,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.00,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.80,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.80,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.50,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.50,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.20,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.30,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.50,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,44.45,17.3,NaN,NaN,NaN

In [53]:
# flipper_length_mm with mean
flipper_length_mm_mean = df.flipper_length_mm.mean()

In [54]:
flipper_length_mm_mean

np.float64(200.91520467836258)

In [55]:
df_missing_values.fillna({"flipper_length_mm":flipper_length_mm_mean},inplace=True)

C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_10708\2038530409.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing_values.fillna({"flipper_length_mm":flipper_length_mm_mean},inplace=True)

In [56]:
df_missing_values

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,44.45,17.3,200.915205,NaN,NaN
8,Adelie,Torgersen,34.10,18.1,193.000000,3475.0,NaN
9,Adelie,Torgersen,42.00,20.2,190.000000,4250.0,NaN
10,Adelie,Torgersen,37.80,17.1,186.000000,3300.0,NaN
11,Adelie,Torgersen,37.80,17.3,180.000000,3700.0,NaN
47,Adelie,Dream,37.50,18.9,179.000000,2975.0,NaN
246,Gentoo,Biscoe,44.50,14.3,216.000000,4100.0,NaN
286,Gentoo,Biscoe,46.20,14.4,214.000000,4650.0,NaN
324,Gentoo,Biscoe,47.30,13.8,216.000000,4725.0,NaN
336,Gentoo,Biscoe,44.50,15.7,217.000000,4875.0,NaN
339,Gentoo,Biscoe,44.45,17.3,200.915205,NaN,NaN

In [57]:
# body_mass_g with median
body_mass_g_median = df.body_mass_g.median()

In [58]:
body_mass_g_median

np.float64(4050.0)

In [59]:
df_missing_values.fillna({"body_mass_g":body_mass_g_median},inplace= True)

C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_10708\898379041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing_values.fillna({"body_mass_g":body_mass_g_median},inplace= True)

In [60]:
df_missing_values

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,44.45,17.3,200.915205,4050.0,NaN
8,Adelie,Torgersen,34.10,18.1,193.000000,3475.0,NaN
9,Adelie,Torgersen,42.00,20.2,190.000000,4250.0,NaN
10,Adelie,Torgersen,37.80,17.1,186.000000,3300.0,NaN
11,Adelie,Torgersen,37.80,17.3,180.000000,3700.0,NaN
47,Adelie,Dream,37.50,18.9,179.000000,2975.0,NaN
246,Gentoo,Biscoe,44.50,14.3,216.000000,4100.0,NaN
286,Gentoo,Biscoe,46.20,14.4,214.000000,4650.0,NaN
324,Gentoo,Biscoe,47.30,13.8,216.000000,4725.0,NaN
336,Gentoo,Biscoe,44.50,15.7,217.000000,4875.0,NaN
339,Gentoo,Biscoe,44.45,17.3,200.915205,4050.0,NaN

In [62]:
# dealing "sex" column with mode value
sex_mode = df.sex.mode()[0]

In [63]:
sex_mode

'Male'

In [64]:
df_missing_values.fillna({"sex":sex_mode},inplace=True)

C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_10708\2583187417.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing_values.fillna({"sex":sex_mode},inplace=True)

In [65]:
df_missing_values

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,44.45,17.3,200.915205,4050.0,Male
8,Adelie,Torgersen,34.10,18.1,193.000000,3475.0,Male
9,Adelie,Torgersen,42.00,20.2,190.000000,4250.0,Male
10,Adelie,Torgersen,37.80,17.1,186.000000,3300.0,Male
11,Adelie,Torgersen,37.80,17.3,180.000000,3700.0,Male
47,Adelie,Dream,37.50,18.9,179.000000,2975.0,Male
246,Gentoo,Biscoe,44.50,14.3,216.000000,4100.0,Male
286,Gentoo,Biscoe,46.20,14.4,214.000000,4650.0,Male
324,Gentoo,Biscoe,47.30,13.8,216.000000,4725.0,Male
336,Gentoo,Biscoe,44.50,15.7,217.000000,4875.0,Male
339,Gentoo,Biscoe,44.45,17.3,200.915205,4050.0,Male