In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset("tips")

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Grouping and sorting

In [5]:
df.day.value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [7]:
# alternative of value_counts()
df.groupby("day").day.count()

C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_8096\2198501065.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("day").day.count()

day
Thur    62
Fri     19
Sat     87
Sun     76
Name: day, dtype: int64

In [8]:
df.groupby("day").total_bill.min()

C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_8096\1659498401.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("day").total_bill.min()

day
Thur    7.51
Fri     5.75
Sat     3.07
Sun     7.25
Name: total_bill, dtype: float64

In [9]:
df.groupby("day").total_bill.max()

C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_8096\665153608.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("day").total_bill.max()

day
Thur    43.11
Fri     40.17
Sat     50.81
Sun     48.17
Name: total_bill, dtype: float64

In [ ]:
df.total_bill.idxmax() # return max value index

170

In [11]:
df.total_bill.max()

np.float64(50.81)

In [13]:
df.iloc[170]

total_bill     50.81
tip             10.0
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               3
Name: 170, dtype: object

In [18]:
df.groupby("day").total_bill.agg([len,min,max,"mean","median"])

C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_8096\851666390.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("day").total_bill.agg([len,min,max,"mean","median"])
C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_8096\851666390.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby("day").total_bill.agg([len,min,max,"mean","median"])
C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_8096\851666390.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby("day").total_bill.agg([len,min,max,"mean","median"])

      len   min    max       mean  median
day
Thur   62  7.51  43.11  17.682742   16.20
Fri    19  5.75  40.17  17.151579   15.38
Sat    87  3.07  50.81  20.441379   18.24
Sun    76  7.25  48.17  21.410000   19.63

In [19]:
df.day.value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [20]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [24]:
df.groupby(["day","sex"]).sex.agg([len])

C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_8096\468449190.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(["day","sex"]).sex.agg([len])

             len
day  sex
Thur Male     30
     Female   32
Fri  Male     10
     Female    9
Sat  Male     59
     Female   28
Sun  Male     58
     Female   18

In [25]:
df.index

RangeIndex(start=0, stop=244, step=1)

In [28]:
day_by = df.groupby(["day","sex"]).sex.agg([len]).reset_index()

C:\Users\ShahriarHA\AppData\Local\Temp\ipykernel_8096\3178298347.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  day_by = df.groupby(["day","sex"]).sex.agg([len]).reset_index()

## Sorting

In [29]:
day_by

    day     sex  len
0  Thur    Male   30
1  Thur  Female   32
2   Fri    Male   10
3   Fri  Female    9
4   Sat    Male   59
5   Sat  Female   28
6   Sun    Male   58
7   Sun  Female   18

In [ ]:
sorted = day_by.sort_values(by="len")

In [32]:
sorted

    day     sex  len
3   Fri  Female    9
2   Fri    Male   10
7   Sun  Female   18
5   Sat  Female   28
0  Thur    Male   30
1  Thur  Female   32
6   Sun    Male   58
4   Sat    Male   59

In [33]:
sorted.sort_index()

    day     sex  len
0  Thur    Male   30
1  Thur  Female   32
2   Fri    Male   10
3   Fri  Female    9
4   Sat    Male   59
5   Sat  Female   28
6   Sun    Male   58
7   Sun  Female   18