In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset("tips")

In [3]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

### Select data

In [5]:
df.loc[df.day == "Sun",["day","tip"]]

     day   tip
0    Sun  1.01
1    Sun  1.66
2    Sun  3.50
3    Sun  3.31
4    Sun  3.61
..   ...   ...
186  Sun  3.50
187  Sun  2.00
188  Sun  3.50
189  Sun  4.00
190  Sun  1.50

[76 rows x 2 columns]

### Create a new column

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [7]:
# new column, totalBill_tip = total_bill + tip
df["totalBill_tip"] = df.total_bill + df.tip

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size  totalBill_tip
0       16.99  1.01  Female     No  Sun  Dinner     2          18.00
1       10.34  1.66    Male     No  Sun  Dinner     3          12.00
2       21.01  3.50    Male     No  Sun  Dinner     3          24.51
3       23.68  3.31    Male     No  Sun  Dinner     2          26.99
4       24.59  3.61  Female     No  Sun  Dinner     4          28.20

### Drop duplicate rows

In [9]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Length: 244, dtype: bool

In [10]:
df.duplicated().sum()

np.int64(1)

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.duplicated().sum()

np.int64(0)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, 0 to 243
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   total_bill     243 non-null    float64
 1   tip            243 non-null    float64
 2   sex            243 non-null    category
 3   smoker         243 non-null    category
 4   day            243 non-null    category
 5   time           243 non-null    category
 6   size           243 non-null    int64
 7   totalBill_tip  243 non-null    float64
dtypes: category(4), float64(3), int64(1)
memory usage: 11.0 KB

In [15]:
df

     total_bill   tip     sex smoker   day    time  size  totalBill_tip
0         16.99  1.01  Female     No   Sun  Dinner     2          18.00
1         10.34  1.66    Male     No   Sun  Dinner     3          12.00
2         21.01  3.50    Male     No   Sun  Dinner     3          24.51
3         23.68  3.31    Male     No   Sun  Dinner     2          26.99
4         24.59  3.61  Female     No   Sun  Dinner     4          28.20
..          ...   ...     ...    ...   ...     ...   ...            ...
239       29.03  5.92    Male     No   Sat  Dinner     3          34.95
240       27.18  2.00  Female    Yes   Sat  Dinner     2          29.18
241       22.67  2.00    Male    Yes   Sat  Dinner     2          24.67
242       17.82  1.75    Male     No   Sat  Dinner     2          19.57
243       18.78  3.00  Female     No  Thur  Dinner     2          21.78

[243 rows x 8 columns]

#### from leetcode

In [16]:
# customers.drop_duplicates(subset=['email'])